@import "nulling.scss";


*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}
.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    width: 350px;
    height: 550px;
    border-radius: 10px;
    gap: 10px;
    
    background-color: rgb(36, 36, 36);

		&__image {
            margin: 25px 0 0 0;
            img{
                width: 100px;
                height: 100px;
                border-radius: 100%;
                margin-bottom: 10px;
            }
        }

		&__content {
            text-align: center;
            
        }

		&__name {
            font-size: 20px;
            font-weight: 500;
            margin: 0 0 10px 0;
            
        }

		&__location {
            
            font-weight: 600;
            margin-bottom: 15px;
            color: hsl(75, 94%, 57%);
        }

		&__bio {
            font-size: 14px;
            margin-bottom: 15px;
        }

		&__links {
            display: flex;
            flex-direction: column;
            gap: 15px;
            
            button{
                
                height: 45px;
                width: 300px;
                border-radius: 10px;
                background-color: rgb(54, 54, 54);
                color: rgb(255, 255, 255);
                font-weight: 500;
                font-size: 16px;
                gap: 20px;

                &:hover{
                    color: rgb(0, 0, 0);
                    background-color: hsl(75, 94%, 57%);
                }
            }

        }
}
@media screen and (max-width: 768px){
    .profile{
        min-width: 327px;
        height: 550px;
        gap: 5px;
    }
    .profile__image{
        margin: 20px 0 0 0;

        img{
            width: 70px;
            height: 70px;
        }
    }
    .profile__location{
        font-size: 12px;
        
    }
    .profile__links{
        margin-top: 15px;
        button{
            height: 50px;
            width: 300px;
            font-size: 14px;
            font-weight: 600;
        }
    }
   
}


