@import "nulling.scss";
@font-face{
    font-family: Figtree;
    src: url(/fonts/Figtree-Italic-VariableFont_wght.ttf)
}

*{
    box-sizing: border-box;
    font-family: Figtree;
}
.wrapper {
}
.profile {

		&__image {}

		&__content {}

		&__name {}

		&__location {}

		&__bio {}

		&__links {}
}

